.title {
    text-align:left;
    font-size:25px;
    font-weight:bold;
    color:#333;
    margin-left:10px;
    
}

.time {
    text-align:left;
    font-size:15px;
    color:gray;
    margin-top:7px;
    margin-bottom:7px;
    margin-left:10px;
    
}

.image-parent {
    text-align:center;
    margin-bottom:10px;
    max-width:100%;
/*    height:auto;*/

}
.subtitle {
    font-size: 18px;
/*    font-family: ".SFUIText-Regular";*/
    color: #666;
/*    text-align: center;*/
    margin-left: 10px;
    margin-right: 10px
}